*{
	margin: 0;
	padding: 0;
	font font-family:initial;
}
header{
	background: url();
	height: 100vh;
	background-size: cover;
	background-position:center; 
}
ul{
	float: right;
	margin-top: 25px;
}
li{
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 20px;
	border-radius: 25px;
	width: 200px;
	height: 150px;
}
ul li a{
	text-decoration: none;
	background-color: #D3D3D3;
	color: #000;
	padding: 5px 20px;
	border: 1px solid ;
	border-color: #D3D3D3;
	transition: 0.6s ease;
}
.logo img{
	position: absolute;
	top:30%;
	left: 40%;
}
